/* ScorePage.css */
.score-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color for the page */
}

.score {
  display: flex;
  align-items: center;
}

.dash {
  font-size: 4rem; /* Adjust the font size as needed */
  margin: 0 60px; /* Add spacing between sections */
}

.score {
  font-size: 6rem; /* Adjust the font size as needed (huge font) */
  font-weight: bold;
}

.username {
  font-size: 2rem; /* Adjust the font size as needed */
  color: #333333; /* Text color for usernames */
  margin: 0px 80px; /* Add spacing between the score and username */
}

/* Add any additional styling as needed */
